textarea{
  margin: 4px;
  width:600px;
  height:200px
}

button{
  margin:3px;
}

.share input{
  width: 400px;

  -webkit-animation: open 1s; /* Chrome, Safari, Opera */
  animation: open 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes open {
    from {width: 0px;}
    to {width: 400px;}
}

body{
  text-align:center;
}

.main{
  margin: 0 auto;
  display: table;
}

.header{
  border-bottom:2px solid green;
  margin-bottom: 30px;
  font-family:sans-serif;
}

#wait{
  margin:10px;
  width:50px;
  height:50px;
}

#logo{
  width: 220px;
  position: relative;
  top: 16px;
}
