textarea{
  margin: 4px;
  width:600px;
  height:200px
}

#editor {
  position: relative;
  text-align:left;
  font-size: 11pt;
  margin: 4px;
  width:600px;
  height:200px
}

button{
  margin:3px;
}

.shareInput{
  width: 400px;
  display:inline-block;
  -webkit-animation: open 0.3s; /* Chrome, Safari, Opera */
  animation: open 0.3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.shareInput.ng-hide-remove-active,.shareInput.ng-hide-add-active{
  display:inline-block!important;
}

.shareInput.ng-hide-add, .shareInput.ng-hide-add-active{
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

@-webkit-keyframes open {
    from {width: 0px;}
    to {width: 400px;}
}

body{
  text-align:center;
}

.main{
  margin: 0 auto;
  display: table;
}

.header{
  border-bottom:2px solid green;
  margin-bottom: 30px;
  font-family:sans-serif;
}

#wait{
  margin:10px;
  width:50px;
  height:50px;
}

#logo{
  width: 220px;
  position: relative;
  top: 16px;
}
