<html>
<header>
  <title>Try FunW@p</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</header>
<body>
  <div class="header">
    <h1>Try FunW@p<h1>
  </div>
  <div ng-app="" ng-controller="groupController" class="main">
    <textarea ng-model="prog"></textarea>
    <div ng-hide="hideButton">
      <button type="button" ng-click="interpret()">Interpret</button>
      <button type="button" ng-click="compile()">Compile</button>
    </div>
    <textarea readonly ng-bind="result" ng-hide="hideButton"></textarea>
    </br><img ng-src="./img/wait.gif" ng-show="hideButton"></img>
  </div>
  <script src="./main.js"></script>
  <script src="./lib/angular.min.js"></script>
</body>
</html
